{% extends "./base.html" %}

{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <h1>{{question.question_text}}</h1>
</div>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}
<div class="container">
    <form action="{% url 'moviepoll:vote' question.id%}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">
            {{choice.choice_text}}
        </label><hr>
        {% endfor %}
        <input type="submit" value="Vote" class="btn btn-primary">
    </form>
</div>
{% endblock %}
